{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class='topnav'>
        <a href='/view_sale'>Sales</a>
        <a href='/view_product'>Products</a>
        <a href='/view_customer'>Customers</a>
        {% if current_user.has_role('admin') or current_user.has_role('supervisor')%}
        <a class='active' href='/view_user'>Users</a>
        {% endif %}
        <a class='logout' href='/logout'>Logout</a>
    </div>
    <div class="add_update">
        <div class="form-box">
            <h1>Add new User</h1>
            <form action="/add_user" method="post">
                <div class="input-group">
                    <label>User name</label>
                    <div class="input-field">
                        <input type="text" name="user" id="user" required>
                    </div>
                </div>
                <div class="input-group">
                    <label>User email</label>
                    <div class="input-field">
                        <input type="email" name="user_email" id="user_email"  required>
                    </div>
                </div>
                <div class="input-group">
                    <label>User phone</label>
                    <div class="input-field">
                        <input type="tel" name="user_phone" id="user_phone">
                    </div>
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <div class="input-field">
                        <input type="password" name="user_password" id="user_password" required>
                    </div>
                </div>
                <div class="input-group">
                    <label for="userPrivilege">Select User Privilege</label>
                    <div class="input-field">
                        <select id="privilege" name="privilege">
                            <option value="admin">Admin</option>
                            <option value="editor">Editor</option>
                            <option value="supervisor">Supervisor</option>
                        </select>
                    </div>
                </div>
                <div class="input-filed">
                    <input type="submit" value="Add" name="add" id="add">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}