{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Sales information</h1>
    {% if sales|length < 1 %}
    <h4  style="text-align: center;"> There are no tasks, create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Customer</th>
            <th>User</th>
            <th>Date</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.product_name }}</td>
                <td>{{ sale.product_quantity }}</td>
                <td>{{ sale.customer_name }}</td>
                <td>{{ sale.user_name }}</td>
                <td>{{ sale.date.date() }}</td>
                <td>
                    <a href="/delete/{{sale.id}}">Delete</a>
                    <br>
                    <a href="/update/{{sale.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="product" id="product">
        <input type="text" name="quantity" id="quantity">
        <input type="text" name="customer" id="customer">
        <input type="text" name="user" id="user">
        <input type="submit" value="Add" name="add" id="add">
    </form>
</div>
{% endblock %}