{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}
<div class="content">
    {% block navbar %}
    <div class='topnav'>
        <a class='active' href='/view_sale'>Sales</a>
        <a href='/view_product'>Products</a>
        <a href='/view_customer'>Customers</a>
        <a href='/view_user'>Users</a>
        <a class='logout' href='/logout'>Logout</a>
    </div>
    {% endblock %}
    <div class="info">
        <div class="table_box">
            <table>
                <tr>
                    <th>Product</th>
                    <td>{{ sale.product_name }}</td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{ sale.product_quantity }}</td>
                </tr>
                <tr>
                    <th>Customer name</th>
                    <td>{{ sale.customer_name }}</td>
                </tr>
                <tr>
                    <th>Customer email</th>
                    <td>{{ sale.customer_email }}</td>
                </tr>
                <tr>
                    <th>Customer phone</th>
                    <td>{{ sale.customer_phone }}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>{{ sale.user_name }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ sale.date.date() }}</td>
                </tr>
            </table>
        </div>
        <div class="edit">
            <a href="/update_sale/{{sale.id}}" id="update">Update</a>
            <br>
            <a href="{{ url_for('delete_sale', id=sale.id) }}" onclick="return confirm('are you sure you want delete this record?!')" id="delete">Delete</a>
        </div>
    </div>
</div>
{% endblock %}