{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}
<div class="content">
    {% block navbar %}
    <div class='topnav'>
        <a class='active' href='/view_sale'>Sales</a>
        <a href='/view_product'>Products</a>
        <a href='/view_customer'>Customers</a>
        <a href='/view_user'>Users</a>
        <a class='logout' href='/logout'>Logout</a>
    </div>
    {% endblock %}
    <div class="info">
        <div class="table_box">
            <table>
                <tr>
                    <th>User</th>
                    <td>{{ user.user_name }}</td>
                </tr>
                <tr>
                    <th>User email</th>
                    <td>{{ user.user_email }}</td>
                </tr>
                <tr>
                    <th>User phone</th>
                    <td>{{ user.user_phone }}</td>
                </tr>
                <tr>
                    <th>Privilage</th>
                    <td>{{ user.type }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ user.date.date() }}</td>
                </tr>
            </table>
        </div>
        <div class="edit">
            <a href="/update_user/{{user.id}}" id="update">Update</a>
            <br/>
            <a href="/delete_user/{{user.id}}" id="delete">Delete</a>
        </div>
    </div>
</div>
{% endblock %}