{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}

<div class="content">
    {% block navbar %}
    <div class='topnav'>
        <a class='active' href='/view_sale'>Sales</a>
        <a href='/view_product'>Products</a>
        <a href='/view_customer'>Customers</a>
        <a href='/view_user'>Users</a>
        <a class='logout' href='/logout'>Logout</a>
    </div>
    {% endblock %}
    <h1  style="text-align: center;">Update user information</h1>
    <div class="form">
        <form action="/update_user/{{user.id}}" method="post">
            <label>User name</label>
            <input type="text" name="user" id="user" value="{{ user.user_name }}" required>
            <br/><label>User email</label>
            <input type="email" name="user_email" id="user_email" value="{{ user.user_email }}" required>
            <br/><label>User phone</label>
            <input type="tel" name="user_phone" id="user_phone" value="{{ user.user_phone }}">
            <br/><label>Password</label>
            <input type="password" name="user_password" id="user_password" value="{{ user.user_password }}" required>
            <br/>
            <label for="userPrivilege">Select User Privilege</label>
            <select id="privilege" name="privilege">
                <option value="admin">Admin</option>
                <option value="editor">Editor</option>
                <option value="supervisor">Supervisor</option>
            </select>
            <input type="submit" value="Update" name="update" id="update">
        </form>
    </div>
{% endblock %}