{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}

<div class="content">
    {% block navbar %}
    <div class='topnav'>
        <a class='active' href='/view_sale'>Sales</a>
        <a href='/view_product'>Products</a>
        <a href='/view_customer'>Customers</a>
        <a href='/view_user'>Users</a>
        <a class='logout' href='/logout'>Logout</a>
    </div>
    {% endblock %}
    <div class="add_update">
        <div class="form-box">
            <h1  style="text-align: center;">Update sale information</h1>
            <form action="/update_sale/{{sale.id}}" method="post">
                <div class="input-group">
                    <label>Product</label>
                    <div class="input-field">
                        <input type="text" name="product" id="product" value="{{ sale.product_name }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <label>Quantity</label>
                    <div class="input-field">
                        <input type="number" name="quantity" id="quantity" value="{{ sale.product_quantity }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <label>Customer</label>
                    <div class="input-field">
                        <input type="text" name="customer" id="customer" value="{{ sale.customer_name }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <label>Customer email</label>
                    <div class="input-field">
                        <input type="email" name="customer_email" id="customer" value="{{ sale.customer_email }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <label>Customer phone</label>
                    <div class="input-field">
                        <input type="tel" name="customer_phone" value="{{ sale.customer_phone }}" id="customer">
                    </div>
                </div>
                <div class="input-group">
                    <label>user</label>
                    <div class="input-field">
                        <input type="text" name="user" id="user" value="{{ sale.user_name }}" required>
                    </div>
                </div>    
                <div class="input-field">
                    <input type="submit" value="Update" name="add" id="add">
                </div> 
            </form>  
        </div>
    </div>
</div>
{% endblock %}