{% extends 'base.html' %}

{% block head %}
<title>CRM</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1  style="text-align: center;">Update information</h1>
    <div class="form">
        <form action="/update/{{sale.id}}" method="post">
            <input type="text" name="product" id="product" value="{{sale.product_name}}">
            <input type="text" name="quantity" id="quantity" value="{{sale.product_quantity}}">
            <input type="text" name="customer" id="customer" value="{{sale.customer_name}}">
            <input type="text" name="user" id="user" value="{{sale.user_name}}">
            <input type="submit" value="Update" name="add" id="add">
        </form>
    </div>
{% endblock %}